/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}


/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.product-info > .col-video, 
.product-info > .col-dati {
    width: 100%;
}


.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 2.25rem;
    text-align: center;
    color: #ff9614;
    text-shadow: .0625rem .0625rem .125rem #333;
}

h2 {
    font-size: 1.5rem;
    margin-top: .625rem;
    margin-bottom: 1rem;
    color: #4e3969;
}

h2 > span {
    display: none;
}


h3 {
    font-weight: 300;
    font-size: 1rem;
    color: grey;
}

h4 {
    font-size: 1rem;
    margin: 2.5rem 0;
}


/*----------------
    HEADER
------------------*/

header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    padding: .875rem;
}

/*----------------
    MAIN
------------------*/

main {
    background-color: #f6f5f3;
    padding: 1.25rem;
}

.container > .product-info {
    background-color: #fff;
}

h4, ul {
    margin-left: 40px;
}

ul {
    list-style: none;
}

ul > li:not(:last-of-type) {
    padding-bottom: 1.25rem;
}

.col-dati ul li > strong {
    margin-left: .3125rem;
}

.col-dati ul li > strong:not(:last-of-type) {
    margin-left: .3125rem;
}

.col-dati ul > li:last-child {
    margin-bottom: 3.75rem;
}

/*----------------
    FOOTER
------------------*/

/*----------------
    RESPONSIVE
------------------*/

@media screen and (min-width: 768px) {
    main {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }

    h1 {
        text-align: left;
        padding-left: 1.25rem;
    }

    main .container h2 > span {
        display: inline;
    }

    .row .col-dati > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .col-dati ul li > strong:not(:last-of-type) {
        margin-left: .3125rem;
    }
}

@media screen and (min-width: 992px) {
    .row > .col-video{
        width: 70%;
    }

    .row > .col-dati {
        width: 30%
    }

    .row .col-dati > .img-intro {
        width: 100%;
        height: 100%;
    }
}